<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<%- include('./layout/head') %>

<body class="home-4">

	<%- include('./layout/header') %>
	
	<!-- header-area-end -->
	<!-- slider-group-start -->

	<div class="breadcrumbs-area mb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumbs-menu">
						<ul>
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#" class="active">Chi tiết đơn hàng</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumbs-area-end -->
	<!-- entry-header-area-start -->
	<div class="entry-header-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="entry-header-title">
						<h2>Chi tiết đơn hàng</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- entry-header-area-end -->
	<!-- cart-main-area-start -->
	<div class="cart-main-area mb-70">
		<div class="container" id="reloadCartItem">
			<div class="row">
				<div class="col-lg-12">
					<form action="#">
						<div class="table-content table-responsive mb-15 border-1">
							<table>
								<thead>
									<tr>
										<th class="product-thumbnail">Ảnh</th>
										<th class="product-name">Sách</th>
										<th class="product-price">Giá</th>
										<th class="product-quantity">Số lượng</th>
										<th class="product-subtotal">Tổng</th>
										<th class="product-remove">Đánh giá</th>
									</tr>
								</thead>
								<tbody>
                                    
                                    <% detailOrders.forEach((item,index)=>{  %>
										<tr>
										<td class="product-thumbnail"><a href="#"><img
													src="/static/uploads/<%= item.product.image %>" alt="man" /></a></td>
										<td class="product-name"><a href="#" ><%= item.product.name %></a>
										</td>
										<td class="product-price"><span class="amount"><%= new Intl.NumberFormat('vi-VN').format(item.product.priceSale) + ' đ' %></span>
										</td>
										<td class="product-quantity"><%= item.quantity %></td>
										<td class="product-subtotal fomatPrice " >
                                            <%= new Intl.NumberFormat('vi-VN').format(item.product.priceSale * item.quantity) + ' đ' %>
										</td>
										<td class="product-remove">
											<% if(order.status==3 && item.statusReview == false){ %>
											 <a href="/add-rating/<%= item.id %>"
												
											class="btn btn-sqr">Đánh giá</a>
											<% } else if(order.status==3 && item.statusReview == true) { %>
												<a 
													class="btn btn-success text-light">Đã đánh giá</>
											<% } %>
										</td>
												
                                    </tr>
                                    <% }); %>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-6 col-12">
					
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="cart_totals">
						<h2>Tổng đơn hàng hàng</h2>
						<table>
							<tbody>
								<tr class="cart-subtotal">
									<th>Tổng phụ</th>
									<td>
										<span class="amount reloadAmout"><%= new Intl.NumberFormat('vi-VN').format(sum) + ' đ' %></span>
									</td>
								</tr>
								<tr class="cart-subtotal">
									<th>Mã giảm giá</th>
									<td>
										<span class="amount reloadAmout"><%= new Intl.NumberFormat('vi-VN').format(priceDiscount) + ' đ' %></span>
									</td>
								</tr>
								<tr class="shipping">
									<th>giao hàng</th>
									<td>
										<ul id="shipping_method">

											<li>
												<input type="radio" checked="checked">
												<label> Miễn phí vận chuyển</label>
											</li>
										</ul>

									</td>
								</tr>
								<tr class="order-total">
									<th>Tổng cộng</th>
									<td>
										<strong>
											<span class="amount reloadAmout"><%= new Intl.NumberFormat('vi-VN').format(order.sumMoney) + ' đ' %></span>
										</strong>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- <div class="wc-proceed-to-checkout">
							<a href="/checkout">Hủy đơn hàng</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('./layout/footer') %>
  <%- include('./layout/js') %>
</body>


<!-- Mirrored from htmldemo.net/koparion/koparion/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Aug 2023 12:02:53 GMT -->

</html>